@import url('https://fonts.googleapis.com/css?family=Josefin+Slab:300,400,600,700&display=swap');
@import url('https://fonts.googleapis.com/css?family=Josefin+Sans:300,400,600,700&display=swap');
@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400,500&display=swap');

* {
  box-sizing: border-box !important;
}

.app{
  /* background-color: rgb(238, 238, 238); */
  /* height: 100vh; */
 
}


.list{
  list-style-type: none;
  padding: 0px;
}

.task-btn{
  background-color: transparent;
  border: none;
  outline: none;
  /* color: gray; */
}

.fa{
  color: gray;
}

.task-input{
  border: 1px solid rgb(211, 209, 209);
  outline: none;
  height: 50px;
  border-radius: 5px;
  height: 60px;
  box-shadow: 0 1px 2px rgba(138, 137, 137, 0.3);
}

.add-btn{
  border-radius: 25px;
  /* box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3); */
  font-weight: 900;
  outline: none;
  visibility: hidden;
}

.clear-btn{
  border-radius: 25px;
  /* box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3); */
  font-weight: 900;
  outline: none;
}



.checkbox-round {
  width: 1.7em;
  height: 1.7em;
  background-color: white;
  border-radius: 50%;
  vertical-align: middle;
  border: 1px solid #ddd;
  -webkit-appearance: none;
  outline: none;
  cursor: pointer;
  /* background-color:  rgba(175, 47, 47, 0.45); */
}

/* .checkbox-round:checked {
  background-color:  rgba(175, 47, 47, 0.45);;
  
} */

 .main{
   position: relative;
  top: 25px;
} 

.font{
    font-style: normal;
    font-variant-ligatures: normal;
    font-variant-caps: normal;
    font-variant-numeric: normal;
    font-variant-east-asian: normal;
    font-weight: 300;
    font-stretch: normal;
    font-size: 20px;
    line-height: 1.4em;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    
  
}

.header{
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 100px;
  font-weight: 100;
  text-align: center;
  color: rgba(175, 47, 47, 0.15);
}

.box-shadow-hover:hover {
  box-shadow: 0 2px 5px 0 rgba(175, 47, 47, 0.16), 0 2px 10px 0 rgba(175, 47, 47, 0.12);
  
}

.pointer {
  cursor: pointer;
}

.paper {
  background: #fff;
  
  box-shadow:
    /* The top layer shadow */
    0 1px 1px rgba(0,0,0,0.15),
    /* The second layer */
    0 10px 0 -5px #eee,
    /* The second layer shadow */
    0 10px 1px -4px rgba(0,0,0,0.15),
     /* The third layer */
    0 20px 0 -10px #eee,
    /* The third layer shadow */
    0 20px 1px -9px rgba(0,0,0,0.15);
    
    
}

.temp{
  height: 100%;;
}

.fa-pencil{
  color: rgba(175, 47, 47, 0.45);
  size: 50px;
  
}

.fa-trash{
  color: rgba(175, 47, 47, 0.45);
  
}

.btn-edit:hover{
  box-shadow: 0 2px 5px 0 rgba(175, 47, 47, 0.16), 0 2px 10px 0 rgba(175, 47, 47, 0.12);
}

.btn-delete:hover{
  box-shadow: 0 2px 5px 0 rgba(175, 47, 47, 0.16), 0 2px 10px 0 rgba(175, 47, 47, 0.12);
}

::placeholder{
  font-style: italic;
  opacity: 0.3;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 25px;
  font-weight: 300;
}

.task-row{
  padding: 0px !important;
}

.task-count{
  text-align: center;
  font-size: 15px;
  font-weight: 500px;
  opacity: 0.6;
  margin: 0px !important;
  padding: 14px 0px;
}

.btn:focus, .btn.focus{
  outline: 0 !important;
  box-shadow: 0 0 0 0.2em rgba(175, 47, 47, 0.12) !important;
}

.banner-button{
  outline: none !important;
  color: rgb(163, 162, 162) !important;
  /* outline-color: rgba(175, 47, 47, 0.12) !important;
  margin: 0px !important;
  padding: 3px 6px !important; */
}

.no-tasks{
  opacity: 0.8;
  color : rgba(175, 47, 47, 0.45);
  font-style: italic;
  font-weight: bolder;
}

.task-title{
  color: rgb(122, 120, 120) !important;
  font-weight: 500;
  font-size: 25px;
  vertical-align: middle;
 
  
}

/* .text-title{
  margin: inherit;
  position: absolute;
  padding-top: 15px;
} */
/* .main{
  background-image: url("sky.jpg");
  
} */
